html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #0f613c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-sizing: border-box;
  border: 5px solid white;
  border-radius: 15px;
  background-color: rgba(62, 152, 91, 0.7);
  padding: 2%;
  max-width: 1200px;
  width: 70%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.title {
  font-size: clamp(2rem, 6%, 6rem);
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.sub-title {
  font-size: clamp(1rem, 4%, 4rem);
  font-weight: 700;
  color: #ffb803;
  text-align: center;
}

.warning-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.warning {
  text-align: center;
  width: 80%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  color: #61917b;
  margin: 10px 0 30px 0;
}

.test-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

#test {
  width: clamp(80px, 8vw, 150px);
  height: clamp(80px, 8vw, 150px);
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 3vw, 2rem);
}

#result-area {
  font-size: clamp(1rem, 2.5%, 3rem);
  font-weight: 600;
  margin: 15px;
  text-align: center;
}

#chance-area {
  color: rgb(174, 26, 26);
  font-size: clamp(1rem, 2%, 2.5rem);
  padding: 10px;
}

#history-area {
  color: #0d50ec;
  font-size: clamp(1rem, 2%, 3rem);
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(10px, 3%, 50px);
  padding-bottom: clamp(20px, 3%, 60px);
  width: 100%;
}

#user-input {
  font-size: clamp(1rem, 2%, 2rem);
  border: none;
  border-radius: 5px;
  width: clamp(120px, 25%, 220px);
  height: clamp(30px, 5%, 40px);
}

#user-input:focus {
  outline: 3px solid #ce2b2b;
}

#play-btn {
  border: none;
  border-radius: 20px;
  width: clamp(80px, 20%, 120px);
  height: clamp(40px, 5%, 50px);
  background-color: #0d50ec;
  font-size: clamp(1rem, 3%, 3rem);
  font-weight: 700;
  color: #fff;
}

#play-btn:disabled {
  background-color: #e4ecff;
}

#reset-btn {
  width: clamp(80px, 8vw, 140px);
  height: clamp(80px, 8vw, 140px);
  border-radius: 50%;
  background-color: #ce2b2b;
  border: 4px solid rgb(52, 47, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2vw, 1rem);
}

@media screen and (max-width: 48rem) {
  .container {
    padding: 5%;
    width: 95%;
  }

  .title {
    font-size: 7vw;
  }

  .sub-title {
    font-size: 4vw;
  }

  .warning {
    width: 70%;
    font-size: 1.5vw;
  }

  #test {
    width: 60px;
    height: 60px;
    font-size: 3vw;
  }

  #result-area {
    font-size: 3vw;
  }

  #chance-area {
    font-size: 2vw;
    padding: 5px;
  }

  #history-area {
    font-size: 3vw;
  }

  #user-input {
    width: 120px;
    height: 35px;
    font-size: 4vw;
  }

  #play-btn {
    width: 80px;
    height: 40px;
    font-size: 3vw;
  }

  #reset-btn {
    width: 60px;
    height: 60px;
    font-size: 2vw;
  }

  .content {
    gap: 15px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: 800px;
  }

  #test {
    width: 60px;
    height: 60px;
  }

  #user-input {
    width: 220px;
    height: 45px;
  }

  #play-btn {
    width: 120px;
    height: 47px;
  }

  #reset-btn {
    width: 70px;
    height: 70px;
  }
}
